.red {
    color: #d11141
}

.green {
    color: #00b159
}

.blue {
    color: #00aedb
}

.orange {
    color: #f37735
}

.yellow {
    color: #ffc425
}

th, td {
    text-align: center !important;
}

tr > td {
    border: solid 1px !important;
}

.reveal ul > ul  {
    font-size: 80%;
    margin-bottom: 30px
}

.reveal li {
    margin-bottom: 15px;
}